body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #94989c;
    color: #ffffff;
}

h2 {
    font-size: 2em;
    color: #134aa7;
}

input, button {
    font-size: 1em;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #134aa7;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}

button {
    background-color: #134aa7;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #228b22;
}

#result {
    font-size: 2em;
    margin-top: 20px;
}

.valid {
    color: #134aa7;
}

.invalid {
    color: #134aa7;
}

.emoji {
    font-size: 1.5em;
}
